<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Sujiono Law Firm</title>
<!-- Stylesheets -->

<!--<link href="pages/css/bootstrap.css" rel="stylesheet">-->
<link href="{{ assetsUrl('pages/css/bootstrap.css') }}" rel="stylesheet">
<link href="{{ assetsUrl('pages/css/main.css') }}" rel="stylesheet">
<link href="{{ assetsUrl('pages/css/responsive.css') }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ assetsUrl('plugins/images/favicon.ico') }}" type="image/x-icon">
<link rel="icon" type="image/png" sizes="16x16" href="{{ assetsUrl('plugins/images/favicon.ico') }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>
        <!-- Main Header-->
        @include('public-layout.header')
        <!--End Main Header -->
        <!--Form Back Drop-->
        <div class="form-back-drop"></div>
        @include('public-layout.right-bar')
        @!section('content-body')
        @include('public-layout.footer')
    </div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

<script src="{{ assetsUrl('pages/js/jquery.js') }}"></script>
<script src="{{ assetsUrl('pages/js/popper.min.js') }}"></script>
<script src="{{ assetsUrl('pages/js/bootstrap.min.js') }}"></script>
<script src="{{ assetsUrl('pages/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script src="{{ assetsUrl('pages/js/jquery.fancybox.js') }}"></script>
<script src="{{ assetsUrl('pages/js/appear.js') }}"></script>
<script src="{{ assetsUrl('pages/js/owl.js') }}"></script>
<script src="{{ assetsUrl('pages/js/wow.js') }}"></script>
<script src="{{ assetsUrl('pages/js/jquery-ui.js') }}"></script>
<script src="{{ assetsUrl('pages/js/script.js') }}"></script>

</body>
</html>